   html {
       width: 100%;
   }
   
   body {
       width: 100%;
       margin: 0;
       padding: 0;
   }
   /* ========================================= HEADER =============================================*/
   
   .header {
       margin: 0;
       background-color: #fff;
       width: 100%;
       height: 715px;
       top: 0;
       left: 0;
       display: flex;
       /* align-items: center; */
       justify-content: center;
   }
   /*-------------------------- FB Logo-text & underwrite text pic.------------------------------------*/
   
   .logo {
       margin-top: 203px;
       width: 430px;
       height: 134px;
       bottom: 0;
       margin-right: 9.5%;
   }
   /*-------------------------------------- data logging board ------------------------------------*/
   
   .box {
       background-color: #fff;
       margin-top: 132px;
       width: 4.110in;
       height: 3.61in;
       border: 1px solid #fff;
       border-radius: 8px;
       box-shadow: 1px 10px 10px 5px rgb(222, 224, 227);
       text-align: center;
   }
   /* inputs */
   
   .box input {
       border: 1px solid rgb(221, 223, 226);
       border-radius: 7px;
       padding-inline: 18px;
       width: 323px;
       height: 48px;
       font-size: 17px;
       outline: 0;
   }
   /* Email board*/
   
   #Email {
       margin-top: 14px;
   }
   
   .Email:focus {
       border-color: rgb(100, 167, 255);
   }
   /* password board*/
   
   .password {
       margin-top: 10px;
   }
   
   .password:focus {
       border-color: rgb(100, 167, 255);
   }
   /* Log In button*/
   
   .button__login {
       background-color: rgb(24, 119, 242);
       border: none;
       width: 362px;
       height: 49px;
       margin-bottom: 16px;
       margin-top: 15px;
       border-radius: 5px;
       opacity: 0.9;
       text-align: center;
   }
   
   .button__login:hover {
       transition: opacity 0.2s linear;
       opacity: 1;
   }
   
   .text__login {
       color: #fff;
       font-size: 20px;
       font-family: Arial, Helvetica, sans-serif;
       text-decoration: none;
   }
   /* forgot password link-text*/
   
   .forgot_password {
       color: rgb(24, 119, 242);
       font-size: 14.3px;
       font-family: Arial, Helvetica, sans-serif;
       text-decoration: none;
       /* align-items: center;*/
       /* justify-content: center;*/
   }
   
   .forgot_password:hover {
       text-decoration: underline;
   }
   /* Forgot pass underline*/
   
   .line {
       margin-top: 20px;
   }
   /* New Account button */
   
   .create__new__account__button {
       background-color: rgb(66, 183, 42);
       width: 194px;
       height: 48px;
       border-radius: 5px;
       border: none;
       margin-top: 15px;
       opacity: 0.9;
       color: rgb(221, 223, 226);
       text-align: center;
       font-family: Arial, Helvetica, sans-serif;
   }
   /*
   .create__new__account__button:hover {
       transition: opacity 0, 2s linear;
       opacity: 1;
   }*/
   
   .create__new__account__text {
       color: #fff;
       font-family: Arial, Helvetica, sans-serif;
       font-size: 18px;
       text-decoration: none;
   }
   
   .create_page_container {
       text-align: center;
       margin-top: 28px;
   }
   /* crate a page*/
   
   .crate_page {
       font-family: Arial, Helvetica, sans-serif;
       font-size: 14px;
       font-weight: bold;
       color: black;
       text-decoration: none;
   }
   
   .crate_page:hover {
       text-decoration: underline;
   }
   
   .crate_page_text {
       font-family: arial;
       font-size: 14px;
   }
   /*========================================== FOOTER ========================================*/
   
   .footer {
       width: 100%;
       height: 150px;
       bottom: 0;
       background-color: #fff;
   }
   /*---------------------------------------- Nav1 navigations ---------------------------------*/
   
   .nav1 {
       margin-left: 301px;
       padding-top: 10px;
       padding-bottom: 5px;
       font-size: 12px;
       font-weight: 900px;
       font-family: Arial, Helvetica, sans-serif;
       letter-spacing: 0px;
       font-weight: inherit;
   }
   /* English nav */
   
   .nav1__link1 {
       margin-right: 0;
       color: rgb(56, 88, 152);
       text-decoration: none;
   }
   
   .nav1__link1:hover {
       text-decoration: underline;
   }
   /* Rus nav */
   
   .nav1__link2 {
       margin-left: 6px;
       margin-right: 0;
       color: rgb(56, 88, 152);
       text-decoration: none;
   }
   
   .nav1__link2:hover {
       text-decoration: underline;
   }
   /* Arm nav */
   
   .nav1__link3 {
       margin-left: 6px;
       margin-right: 0;
       color: rgb(56, 88, 152);
       text-decoration: none;
   }
   
   .nav1__link3:hover {
       text-decoration: underline;
   }
   /* France nav */
   
   .nav1__link4 {
       margin-left: 6px;
       margin-right: 0;
       color: rgb(56, 88, 152);
       text-decoration: none;
   }
   
   .nav1__link4:hover {
       text-decoration: underline;
   }
   /* Dutch nav */
   
   .nav1__link5 {
       margin-left: 6px;
       margin-right: 0;
       color: rgb(56, 88, 152);
       text-decoration: none;
   }
   
   .nav1__link5:hover {
       text-decoration: underline;
   }
   /* Arabic nav */
   
   .nav1__link6 {
       margin-left: 6px;
       margin-right: 0;
       color: rgb(56, 88, 152);
       text-decoration: none;
   }
   
   .nav1__link6:hover {
       text-decoration: underline;
   }
   /* Trk nav */
   
   .nav1__link7 {
       margin-left: 6px;
       margin-right: 0;
       color: rgb(56, 88, 152);
       text-decoration: none;
   }
   
   .nav1__link7:hover {
       text-decoration: underline;
   }
   /* Espan nav */
   
   .nav1__link8 {
       margin-left: 6px;
       margin-right: 0;
       color: rgb(56, 88, 152);
       text-decoration: none;
   }
   
   .nav1__link8:hover {
       text-decoration: underline;
   }
   /* Portugal nav */
   
   .nav1__link9 {
       margin-left: 6px;
       margin-right: 0;
       color: rgb(56, 88, 152);
       text-decoration: none;
   }
   
   .nav1__link9:hover {
       text-decoration: underline;
   }
   /* Italy nav */
   
   .nav1__link10 {
       margin-left: 6px;
       margin-right: 0;
       color: rgb(56, 88, 152);
       text-decoration: none;
   }
   
   .nav1__link10:hover {
       text-decoration: underline;
   }
   /* Indian nav */
   
   .nav1__link11 {
       margin-left: 6px;
       margin-right: 0;
       color: rgb(56, 88, 152);
       text-decoration: none;
   }
   
   .nav1__link11:hover {
       text-decoration: underline;
   }
   /*Button+ */
   
   .button_plus {
       width: 30px;
       height: 20px;
       margin-left: 710px;
       margin-top: -17px;
       display: flex;
       font-family: Arial, Helvetica, sans-serif;
   }
   
   .symbol_plus {
       margin-top: -4px;
       margin-left: 1px;
       font-size: 20px;
       font-weight: 545;
       color: rgb(39, 39, 39);
   }
   /* nav1_underline*/
   
   .nav1_underline {
       border-bottom: none;
       border-left: none;
       border-right: none;
       width: 970px;
       border: 1px solid #DDDFE2;
       margin-top: 10px;
       padding: 0;
   }
   /*--------------------------------------- Nav2 navigation ---------------------------------*/
   
   .nav2 {
       margin-left: 301.5px;
       padding-top: 0;
       font-size: 12px;
       font-family: Arial, Helvetica, sans-serif;
       color: rgb(56, 88, 152);
   }
   /* Sign Up nav */
   
   .nav2__link1 {
       margin-right: 0;
       color: rgb(56, 88, 152);
       text-decoration: none;
   }
   
   .nav2__link1:hover {
       text-decoration: underline;
   }
   /* Log In nav */
   
   .nav2__link2 {
       margin-left: 17px;
       margin-right: 0;
       color: rgb(56, 88, 152);
       text-decoration: none;
   }
   
   .nav2__link2:hover {
       text-decoration: underline;
   }
   /* Messenger nav */
   
   .nav2__link3 {
       margin-left: 17px;
       margin-right: 0;
       color: rgb(56, 88, 152);
       text-decoration: none;
   }
   
   .nav2__link3:hover {
       text-decoration: underline;
   }
   /* Facebook Lite nav */
   
   .nav2__link4 {
       margin-left: 17px;
       margin-right: 0;
       color: rgb(56, 88, 152);
       text-decoration: none;
   }
   
   .nav2__link4:hover {
       text-decoration: underline;
   }
   /* Watch nav */
   
   .nav2__link5 {
       margin-left: 17px;
       margin-right: 0;
       color: rgb(56, 88, 152);
       text-decoration: none;
   }
   
   .nav2__link5:hover {
       text-decoration: underline;
   }
   /* People nav */
   
   .nav2__link6 {
       margin-left: 17px;
       margin-right: 0;
       color: rgb(56, 88, 152);
       text-decoration: none;
   }
   
   .nav2__link6:hover {
       text-decoration: underline;
   }
   /* Pages nav */
   
   .nav2__link7 {
       margin-left: 17px;
       margin-right: 0;
       color: rgb(56, 88, 152);
       text-decoration: none;
   }
   
   .nav2__link7:hover {
       text-decoration: underline;
   }
   /* Page Categories nav */
   
   .nav2__link8 {
       margin-left: 17px;
       margin-right: 0;
       color: rgb(56, 88, 152);
       text-decoration: none;
   }
   
   .nav2__link8:hover {
       text-decoration: underline;
   }
   /* Places nav */
   
   .nav2__link9 {
       margin-left: 17px;
       margin-right: 0;
       color: rgb(56, 88, 152);
       text-decoration: none;
   }
   
   .nav2__link9:hover {
       text-decoration: underline;
   }
   /* Games nav */
   
   .nav2__link10 {
       margin-left: 17px;
       margin-right: 0;
       color: rgb(56, 88, 152);
       text-decoration: none;
   }
   
   .nav2__link10:hover {
       text-decoration: underline;
   }
   /* Locations nav */
   
   .nav2__link11 {
       margin-left: 17px;
       margin-right: 0;
       color: rgb(56, 88, 152);
       text-decoration: none;
   }
   
   .nav2__link11:hover {
       text-decoration: underline;
   }
   /* Marketplace nav */
   
   .nav2__link12 {
       margin-left: 17px;
       margin-right: 0;
       color: rgb(56, 88, 152);
       text-decoration: none;
   }
   
   .nav2__link12:hover {
       text-decoration: underline;
   }
   /* Facebook Pay nav */
   
   .nav2__link13 {
       margin-left: 14px;
       margin-right: 0;
       color: rgb(56, 88, 152);
       text-decoration: none;
   }
   
   .nav2__link13:hover {
       text-decoration: underline;
   }
   /* Groups nav */
   
   .nav2__link14 {
       margin-left: 17px;
       margin-right: 0;
       color: rgb(56, 88, 152);
       text-decoration: none;
   }
   
   .nav2__link14:hover {
       text-decoration: underline;
   }
   /*------------------------------------ Nav3 navigations----------------------------------------- */
   
   .nav3 {
       margin-left: 301.5px;
       padding-top: 5px;
       font-size: 12px;
       font-family: Arial, Helvetica, sans-serif;
       color: rgb(56, 88, 152);
   }
   /* Jobs nav */
   
   .nav3__link1 {
       margin-right: 0;
       color: rgb(56, 88, 152);
       text-decoration: none;
   }
   
   .nav3__link1:hover {
       text-decoration: underline;
   }
   /* Oculus nav */
   
   .nav3__link2 {
       margin-left: 17px;
       margin-right: 0;
       color: rgb(56, 88, 152);
       text-decoration: none;
   }
   
   .nav3__link2:hover {
       text-decoration: underline;
   }
   /* Portal nav */
   
   .nav3__link3 {
       margin-left: 17px;
       margin-right: 0;
       color: rgb(56, 88, 152);
       text-decoration: none;
   }
   
   .nav3__link3:hover {
       text-decoration: underline;
   }
   /* Instagram nav */
   
   .nav3__link4 {
       margin-left: 17px;
       margin-right: 0;
       color: rgb(56, 88, 152);
       text-decoration: none;
   }
   
   .nav3__link4:hover {
       text-decoration: underline;
   }
   /* Loca nav */
   
   .nav3__link5 {
       margin-left: 17px;
       margin-right: 0;
       color: rgb(56, 88, 152);
       text-decoration: none;
   }
   
   .nav3__link5:hover {
       text-decoration: underline;
   }
   /* Fundraisers nav */
   
   .nav3__link6 {
       margin-left: 17px;
       margin-right: 0;
       color: rgb(56, 88, 152);
       text-decoration: none;
   }
   
   .nav3__link6:hover {
       text-decoration: underline;
   }
   /* Services nav */
   
   .nav3__link7 {
       margin-left: 17px;
       margin-right: 0;
       color: rgb(56, 88, 152);
       text-decoration: none;
   }
   
   .nav3__link7:hover {
       text-decoration: underline;
   }
   /* Voting Information Center nav */
   
   .nav3__link8 {
       margin-left: 17px;
       margin-right: 0;
       color: rgb(56, 88, 152);
       text-decoration: none;
   }
   
   .nav3__link8:hover {
       text-decoration: underline;
   }
   /* About nav */
   
   .nav3__link9 {
       margin-left: 16px;
       margin-right: 0;
       color: rgb(56, 88, 152);
       text-decoration: none;
   }
   
   .nav3__link9:hover {
       text-decoration: underline;
   }
   /* Create Ad nav */
   
   .nav3__link10 {
       margin-left: 16px;
       margin-right: 0;
       color: rgb(56, 88, 152);
       text-decoration: none;
   }
   
   .nav3__link10:hover {
       text-decoration: underline;
   }
   /* Create Page nav */
   
   .nav3__link11 {
       margin-left: 16px;
       margin-right: 0;
       color: rgb(56, 88, 152);
       text-decoration: none;
   }
   
   .nav3__link11:hover {
       text-decoration: underline;
   }
   /* Developers nav */
   
   .nav3__link12 {
       margin-left: 16px;
       margin-right: 0;
       color: rgb(56, 88, 152);
       text-decoration: none;
   }
   
   .nav3__link12:hover {
       text-decoration: underline;
   }
   /* Careers nav */
   
   .nav3__link13 {
       margin-left: 16px;
       margin-right: 0;
       color: rgb(56, 88, 152);
       text-decoration: none;
   }
   
   .nav3__link13:hover {
       text-decoration: underline;
   }
   /* Privacy nav */
   
   .nav3__link14 {
       margin-left: 16px;
       margin-right: 0;
       color: rgb(56, 88, 152);
       text-decoration: none;
   }
   
   .nav3__link14:hover {
       text-decoration: underline;
   }
   /*------------------------------------ Nav4 navigations----------------------------------------- */
   
   .nav4 {
       margin-left: 301.5px;
       padding-top: 5px;
       font-size: 12px;
       font-family: Arial, Helvetica, sans-serif;
       color: rgb(56, 88, 152);
   }
   /* Cookies nav */
   
   .nav4__link1 {
       margin-right: 0;
       color: rgb(56, 88, 152);
       text-decoration: none;
   }
   
   .nav4__link1:hover {
       text-decoration: underline;
   }
   /* Ad Choices nav */
   
   .nav4__link2 {
       margin-left: 20px;
       margin-right: 0;
       color: rgb(56, 88, 152);
       text-decoration: none;
   }
   
   .nav4__link2:hover {
       text-decoration: underline;
   }
   
   .ad_choice_icon {
       display: flex;
       margin-left: 429px;
       margin-right: 0;
       margin-top: -15px;
   }
   /* Terms nav */
   
   .nav4__link3 {
       margin-left: 20px;
       margin-right: 0;
       color: rgb(56, 88, 152);
       text-decoration: none;
   }
   
   .nav4__link3:hover {
       text-decoration: underline;
   }
   /* Help nav */
   
   .nav4__link4 {
       margin-left: 20px;
       margin-right: 0;
       color: rgb(56, 88, 152);
       text-decoration: none;
   }
   
   .nav4__link4:hover {
       text-decoration: underline;
   }
   /* --------------------------------------- facebook 2021 ------------------------------ */
   
   .facebook_copyright {
       margin-left: 301px;
       margin-right: 0;
       margin-bottom: 0;
       font-family: Arial, Helvetica, sans-serif;
       font-weight: 200;
       color: gray;
   }
   
   .facebook2021 {
       margin-left: 365px;
       margin-top: -12px;
       font-family: Arial, Helvetica, sans-serif;
       font-weight: 200;
       color: gray;
   }
   
   @media screen and (max-width: 720px) {
       .header {
           flex-direction: column;
       }
       .logo {
           margin-left: 60px;
           margin-bottom: 0px;
       }
       .box {
           margin-left: 60px;
           margin-bottom: 230px;
       }
       .footer {
           margin-left: -200px;
       }
   }